
<%= render 'shared/header' %>


  <div class="space-show-main">

        <div class="space-show-image">
          <img src="../assets/adam-griffith-188558.jpg" alt="" class="">
        </div>

          <div class="container">



            <h2>概要</h2>

         </div>



  </div>




<%= render 'shared/footer' %>
