


<%= render 'shared/header' %>



  <div class="user-show-main">
    <div class="container">
      <div class="row user-show-detail">

        <div class="col-md-5 user-show-detail-left">


            <div class="row">

              <div class="col-sm-6">

                <img src="/assets/breather-181290.jpg" alt="..." class="img-circle">

              </div>

              <div class="col-sm-6 user-name-email">

                <div>
                  <h3>user.name</h3>
                </div>

                <div>
                  <h4>user.email</h4>

                </div>

              </div>

            </div>




        </div>

        <div class="col-md-5 user-show-detail-right">

          <div>
            <h4>スペースの数</h4>
          </div>

        </div>

      </div>


    </div>
<!-- container -->

<div class="container">
  <div class="user-show-space">
    <h3>登録中のコ・ワーキングスペース</h3>

    <div class="row">
      <div class="col-md-3 user-space-post">
        <img src="/assets/breather-181290.jpg" alt="..." class="">


      </div>
      <div class="col-md-3 user-space-post">
        <img src="/assets/breather-181290.jpg" alt="..." class="">

      </div>
      <div class="col-md-3 user-space-post">
        <img src="/assets/breather-181290.jpg" alt="..." class="">

      </div>
      <div class="col-md-3 user-space-post">
        <img src="/assets/breather-181290.jpg" alt="..." class="">

      </div>
      <div class="col-md-3 user-space-post">
        <img src="/assets/breather-181290.jpg" alt="..." class="">

      </div>
      <div class="col-md-3 user-space-post">
        <img src="/assets/breather-181290.jpg" alt="..." class="">

      </div>
      <div class="col-md-3 user-space-post">
        <img src="/assets/breather-181290.jpg" alt="..." class="">

      </div>

    </div>

  </div>

</div>




  </div>
<!-- user-show-main -->






<%= render 'shared/footer' %>
