


<%= render 'shared/header' %>

<div class="home-main">


  <div class="container">
    <h1><span>My Co-Working</span>あなたの部屋、倉庫、空いているスペースをみんなで使ってみませんか？</h1>
  </div>

</div>






<%= render 'shared/footer' %>
