// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// bootstrap

.navbar {
    margin-bottom: 0!important;
}



// home.html.erb


.home-main {

  h1 {
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 80px;
  }
  span {
    color: #FF5A5F !important;
  }
}

.home-post-roop {

  h3 {
    margin-bottom: 30px;
  }

  i {
    padding-right: 11px;
  }

  img {
    width: 100%;
    height: 387px;
  }

  p {
    text-align: center;
    margin-top: 5px;

  }
}

.space-post-box {
  border: 1px solid #f1f1f1;
  margin-bottom: 30px;
}










// _footer.html.erb



footer {
  border-top: 1px solid #f1f1f1;
  padding: 30px;
  text-align: center;
}
