// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// show.html.erb


.user-show-main {
  background: #f9fbfe;
  padding-bottom: 80px;
}

.user-show-detail {
  background-color: #FFF;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 3px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);


}

.user-show-detail-left {

  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  img {
    width: 140px;
    height: 140px;
    margin-left: 88px;

  }
}

.user-name-email {
  h3, h4 {
    text-align: left;
    margin-left: 55px;
    margin-top: 17px;

  }
}

.user-show-space {
  h3 {
    text-align: center;
    color: #2b546a;
    margin-bottom: 30px;
  }

  img {
    width: 100%;
    height: 387px;
    margin-bottom: 40px;

  }
}

.user-space-post {
  margin-bottom: 40px;
}


.user-show-detail-right {
  h4 {

    text-align: center;
    margin-top: 50px;
  }
}

.user-edit-btn {

    padding-top: 14px;
    margin-left: 55px;

}


// edit.html.erb

.user-edit-main {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 200px;
  background: #F9FBFE;

  img {
    width: 140px;
    height: 140px;
    margin-bottom: 30px;
  }

  li {
    list-style: none;
  }

  h2 {
    color: #666;
    margin-bottom: 50px;

  }

  input[type="file"] {
    text-align: center;
    display: block;
    margin: 18px auto;
  }

  input[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 111px;
    padding: 12px 71px;
    font-size: 16px;
  }


  input[type="text"] {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(88, 118, 163);
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #dfe4ee;




  }

  label {
    color: rgba(88, 118, 163, 0.298039);
    display: block!important;
    margin-top: 15px;

  }


}


.user-edit-form {
}
